button.automatico {
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #01313a;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button.automatico:active, button.automatico:hover {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background-color: #ffb84d;
}

@media (max-width: 450px) {

    #contenedor {
        margin: auto;
        width: 50%;
    }

    button.automatico {
        width:100%;
    }

    button.automatico+button.automatico {
        margin-top: 50px;
    }
}

@media (min-width: 450px) {

    #contenedor {
        margin: auto;
    }
    button.automatico {
        width:20%;
        float: left;
    }

    button.automatico+button.automatico {
        margin-left: 50px;
    }
}

