.botonStart, .botonStop {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.botonStart:active, .botonStop:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.botonStart {
    background-color: #4CAF50;
}

.botonStop {
    background-color: #f4511e;
}

@media (max-width: 450px) {

    #contenedor {
        margin: auto;
        width: 50%;
    }

    button {
        width:100%;
    }

    button+button {
        margin: 50px 0;
    }
}

@media (min-width: 450px) {

    #contenedor {
        margin: auto;
        width: 50%;
    }
    button {
        width:33.33%;
    }

    button+button {
        margin: 0 50px;
    }

    .botonStart {
        float: left;
    }

    .botonStop {
        float: right;
    }
}

