body {
    background-color: #f2f0f4;
    font-family: Verdana, Calibri, serif;
}

#documento {
    padding: 40px;
    padding-top: 30px;
    margin: auto;
    border: 1.5px solid lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
}

#grafico {
    width: 500px;
    height: 150px;
    border: 1px solid #d3d3d3;
    display: block;
}

#velocidadMedia {
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
}

#tiempoTotal {
    margin-bottom: 30px;
    display: block;
}

#esquemaEstadisticas {
    display: none;
}

#esquemaEstadisticas ul {
    margin-left: 20px;
    list-style: none;
    width: 200px;
}

#esquemaEstadisticas ul li {
    padding: 2.5px;
}

@media (max-width: 450px) {
    * {
        box-sizing: border-box;
    }

    #documento {
        width: 100%;
    }

    #grafico {
        width: 100%;
    }
}