body {
    background-color: #f2f0f4;
    font-family: Verdana, Calibri, serif;
}

nav {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #7fc7af;
    width: 30%;
    border-radius: 40px;
    padding: 15px;
    text-align: center;
}

.boton,
.boton.efectoclick {
    margin-right: 10%;
    padding: 5px;
    text-align: center;
    transition-duration: 0.4s;
    border: none;
    font-size: 14px;
    background-color: #7fc7af;
    text-transform: uppercase;
    border: 2px hidden #7fc7af;
    border-style: solid hidden solid hidden;
}

.boton:hover, .boton:focus, .boton.efectoclick {
    border: 2px solid #3d3b3c;
    border-style: solid hidden solid hidden;
    outline: none;
}

.icono {
    width: 15px;
    height: auto;
    margin-right: 5px;
}

#estadisticas {
    position: absolute;
    left: 76.3%;
    right: auto;
    padding: 15px;
    border: none;
    font-size: 14px;
    background-color: #7fc7af;
    border-radius: 10px;
    text-transform: uppercase;
    transition-duration: 0.4s;
}

/*
#estadisticas:hover {
}
*/
#estadisticas:focus {
    outline: none;
}

/*----Prototipado----*/
#datos {
    float: left;
    position: absolute;
    left: 13%;
    right: auto;
    background-color: black;
    width: 10%;
    height: 200px;
    color: white;
}

#elementoAjax {
    margin: 0 auto;
    background-color: black;
    width: 50%;
    height: 550px;
    margin-bottom: 30px;
    color: white;
    overflow: hidden;
}

#esquema {
    margin: 0 auto;
    background-color: black;
    width: 50%;
    height: 50px;
    color: white;
    margin-bottom: 30px;
}

hr {
    margin-top: 90px;
}

footer {
    text-align: center;
}

#logos {
    padding: 10px;
    margin-bottom: 30px;
}

@media (max-width: 450px) {

    * {
        box-sizing: border-box;
    }

    body {
        width: 90%;
    }

    nav, #estadisticas, #elementoAjax, #esquema {
        width: 100%;
    }

    .boton,
    .boton.efectoclick {
        width:100%;
    }

    #estadisticas {
        position: static;
        margin-bottom: 30px;
    }

    #datos, hr, footer {
        display: none;
    }
}