body {
    background-color: #f2f0f4;
    font-family: Verdana, Calibri, serif;
}

nav {
    margin: 30px auto;
    background-color: #7fc7af;
    width: 30%;
    border-radius: 40px;
    padding: 15px;
    text-align: center;
}

.boton,
.boton.efectoclick {
    margin-right: 10%;
    padding: 5px;
    text-align: center;
    transition-duration: 0.4s;
    font-size: 14px;
    background-color: #7fc7af;
    text-transform: uppercase;
    border: 2px hidden #7fc7af;
    border-top-style: solid;
    border-bottom-style: solid;
}

.boton:hover, .boton:focus, .boton.efectoclick {
    border: 2px solid #3d3b3c;
    border-left-style: hidden;
    border-right-style: hidden;
    outline: none;
}

.icono {
    width: 15px;
    height: auto;
    margin-right: 5px;
}

#estadisticas {
    position: absolute;
    left: 76.3%;
    right: auto;
    padding: 15px;
    border: none;
    font-size: 14px;
    background-color: #7fc7af;
    border-radius: 10px;
    text-transform: uppercase;
    transition-duration: 0.4s;
}

/*
#estadisticas:hover {
}
*/
#estadisticas:focus {
    outline: none;
}

/*----Prototipado----*/
#datos {
    float: left;
    position: absolute;
    left: 13%;
    right: auto;
    border: #ffb84d 2px dotted;
    width: 10%;
    height: 200px;
    color: white;
}

div#datos span {
    display: block;
    margin-top: 10%;
    margin-left: 4%;
    color: black;
    word-wrap: break-word;
}

#elementoAjax {
    margin: 0 auto;
    background-color: black;
    width: 50%;
    height: 550px;
    margin-bottom: 30px;
    color: white;
    overflow: hidden;
}
/*Animacion esquema*/
#esquema {
    margin-left: 25%;
    background-color: black;
    width: 5%;
    height: 50px;
    color: white;
    position: relative;
    transition: margin-left 4s;
}

#esquema.none {
    margin-left: 25%;
}

#esquema.pos1 {
    margin-left: 39.5%;
}

#esquema.pos2 {
    margin-left: 54.5%;
}

#esquema.pos3 {
    margin-left: 69.5%;
}
/*Fin animacion*/

div#posicionesEsquema {
    width: 50%;
    margin: 0 auto;
}

div#posicionesEsquema label.pos2,
div#posicionesEsquema label.pos3,
div#posicionesEsquema label.pos4{
    margin-left: 21%;
}

hr {
    margin-top: 90px;
}

footer {
    text-align: center;
}

#logos {
    padding: 10px;
    margin-bottom: 30px;
}

@media (max-width: 450px) {

    * {
        box-sizing: border-box;
    }

    body {
        width: 90%;
    }

    nav, #estadisticas, #elementoAjax, footer {
        width: 100%;
    }

    #datos, #esquema, #posicionesEsquema, hr {
        display: none;
    }

    .boton,
    .boton.efectoclick {
        width:100%;
    }

    #estadisticas {
        position: static;
        margin-bottom: 30px;
    }
}