#contenedor_mm {
    margin: auto;
    width: 50%;
}

#contenedor_mm table {
    margin:50px auto 0 auto;
}

#contenedor_mm table label {
    padding-right: 20px;
}

#contenedor_mm td input {
    font-family: Verdana, Calibri, serif;
}

#contenedor_mm #submit, #contenedor_mm #mm_empaquetar, #contenedor_mm #mm_sellar {
    width:100%;
    margin-top: 50px;
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #01313a;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#contenedor_mm #submit:active, #contenedor_mm #mm_empaquetar:active, #contenedor_mm #mm_sellar:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media (max-width: 450px) {

    * {
        box-sizing: border-box;
    }
    #contenedor_mm {
        width: 90%;
    }
}
