button {
    width: 200px;
    height: 100px;
    border: 1px #f2f0f4 solid;
    background-color: #01363f;
    color: #f2f0f4;
}

input {
    visibility: hidden;
    display: none;
}

.efectoclickMan {
    background-color: #ffb84d;
}