body {
    background-color: #f2f0f4;
    font-family: Verdana, Calibri, serif;
}
#manPrincipal{
  margin: auto;
  width: 50%;
}
.efectoclickMan {
    width: 200px;
    height: 100px;
    border: 1px #f2f0f4 solid;
    color: #f2f0f4;
    background-color: #ffb84d;
}

#manBotonMan , #manAdelante , #manAtras {
    width:100%;
    margin-top: 50px;
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #01313a;
    color: #fff;
    border: none;
    border-radius: 15px;

}
#manBotonMan:active , #manAdelante:active , #manAtras:active{
    transform: translateY(4px);
}

@media (max-width: 450px) {

    * {
        box-sizing: border-box;
    }

    #manPrincipal {
        width: 90%;
    }

    button.sub_manual {
        width: 100%;
        margin-top: 50px;
    }
}
